= form_for @post do |f|
  - unless @post.errors.empty?
    %ul
      - @post.errors.full_messages.each do |e|
        %li= e

  %div
    = f.label :title
    = f.text_field :title, placeholder: "Title"

  %div
    = f.label :description
    = f.text_area :description, placeholder: "Description"

  = f.submit "Create"
