.title
  = @post.title

.description
  = @post.description

#comments
  = render @post.comments

= form_for [@post, @comment] do |f|
  %div
    = f.text_area :content, placeholder: "comment here..."

  = f.submit "Create"
