<!DOCTYPE html>
<html>
<head>
  <title>RedditRevise</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <%= notice %>
<% end %>

<% if alert %>
  <%= alert %>
<% end %>

<% if user_signed_in? %>
  <%= current_user.email %>
  <%= link_to "Create new link post", new_link_path %> 
  <%= link_to "Create new text post", new_post_path %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>

<% end %>

<%= yield %>

</body>
</html>
